{% extends "base/top_footer.html" %}
{% load staticfiles %}

{% block page_header %}
<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        {% block page_header_title %}{% endblock %}
        <p>{{ request.basic_confing.firm_info.comSlogan }}</p>
        <div class="page_nav">
      <span>当前位置:</span> <a href="{% url 'index' %}">首页</a>
      {% block page_header_span %}{% endblock %}
      </div>
      </div>
    </div>
  </div>
</section>

{% block main_section %}
{% endblock %}

{% endblock %}
