{% extends "base/page_header.html" %}
{% load staticfiles %}

{% block title %}课程--创想乾坤{% endblock %}
{% block page_header_title %}
    <h1>课程</h1>
    <form class="templatemo-search-form" role="search" id="searchForm" method="get">
        <div class="input-group">
            <button type="submit" class="fa fa-search" id="btnSearch"></button>
            <input type="text" class="form-control" placeholder="搜索感兴趣的课程内容" name="name" id="srch-term" value="{{ search_name }}">
        </div>
    </form>
{% endblock %}
{% block page_header_span %}<span><i class="fa fa-angle-double-right"></i>课程</span>{% endblock %}

{% block main_section %}
<!--SERVICE SECTION-->
<section id="shop" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="images/shop-detail.jpg" alt="Edua" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25">MT8 Online Course<span class="divider-left"></span></h2>
        <h4 class="price_product">$230.00</h4>
        <p class="margin10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="bottom25">consectetur id. Aenean sit amet massa eu velit commodo cursus fringilla a tellus. Morbi eros urna, mollis porta feugiat non, ornare eu augue. 
        Sed rhoncus est sit amet diam tempus, et tristique est viverra. Etiam ex tellus, sectur at dapibus id, luctus at odio. Proin mattis congue 
        tristique eu augue. Sed rhoncus est.</p>
        <div class="quote bottom25">
        <input type="text" placeholder="1" class="quote border-radius">
        <a href="#." class="btn_common yellow border_radius">Get a quote</a>
        </div>
        <p class="tag_cate half_space">Category: <a href="#.">Tools</a>, <a href="#.">Palm</a>, <a href="#.">Trigger</a></p>
        <div class="share clearfix">
          <p class="pull-left"><strong>Share Product:</strong></p>
          <ul class="pull-right">
            <li><a href="#."><i class="fa fa-facebook"></i></a></li>
            <li><a href="#."><i class="icon-twitter4"></i></a></li>
            <li><a href="#."><i class="icon-dribbble5"></i></a></li>
            <li><a href="#."><i class="icon-instagram"></i></a></li>
            <li><a href="#."><i class="icon-vimeo4"></i></a></li>
        </ul>
        </div>
      </div>
      </div>
     <div class="row"> 
    <div class="col-md-12 wow fadeInUp" data-wow-delay="300ms">
      <div class="shop_tab margin_top">
        <ul class="tabs">
          <li class="active" rel="tab1">Description</li>
          <li rel="tab2">Detail</li>
          <li rel="tab3">Review</li>
        </ul>
        <div class="tab_container">
          <div id="tab1" class="tab_content">
            <p>Proin sagittis feugiat elit finibus pretium. Donec et tortor non purus vulputate tincidunt. Cras congue posuer eros eget egestas. Aenean varius 
            ex ut ex laoreet fermentum.</p>
            <p>Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          </div>
          <div id="tab2" class="tab_content">
            <h3 class="heading bottom25">Technical Details<span class="divider-left"></span></h3>
            <div class="row">
              <div class="col-md-6">
                <table class="table table-responsive table-striped">
                  <tbody>
                    <tr>
                      <td>Part Number</td>
                      <td>60-MCTE</td>
                    </tr>
                    <tr>
                      <td>Item Weight</td>
                      <td>54 pounds</td>
                    </tr>
                    <tr>
                      <td>Product Dimensions</td>
                      <td>92.8 inches</td>
                    </tr>
                    <tr>
                      <td>Item model number</td>
                      <td>60-MCTE</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table table-responsive table-striped">
                  <tbody>
                    <tr>
                      <td>Item Package Quantity</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>Number of Handles</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>Batteries Required?</td>
                      <td>NO</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="tab3" class="tab_content">
            <div class="top30"></div>
            <div class="profile_bg bottom20">
          <div class="profile">
            <div class="p_pic"><img src="images/profile2.png" alt="instructure"></div>
            <div class="profile_text">
              <h5><strong>JOHN PARKER</strong>  -  <span> Great for Starters</span></h5>
              <form class="star_rating bottom5">
                <div class="stars">
                  <input type="radio" name="star" class="star-1" id="star-21" />
                  <label class="star-1" for="star-21">1</label>
                  <input type="radio" name="star" class="star-2" id="star-22" />
                  <label class="star-2" for="star-22">2</label>
                  <input type="radio" name="star" class="star-3" id="star-23" />
                  <label class="star-3" for="star-23">3</label>
                  <input type="radio" name="star" class="star-4" id="star-24"  />
                  <label class="star-4" for="star-24">4</label> 
                  <input type="radio" name="star" class="star-5"  id="star-25" checked  />
                  <label class="star-5" for="star-25">5</label>
                  <span></span>
                </div>
              </form>
              <p class="margin10">Vivamus bibendum nibh in dolor pharetra, a euismod nulla dignissim. Aenean viverra tincidunt nibh, in imperdiet nunc. Suspendisse eu ante pretium.</p>
            </div>
          </div>
        </div>
        <div class="profile_bg bottom20">
          <div class="profile">
            <div class="p_pic"><img src="images/profile3.png" alt="instructure"></div>
            <div class="profile_text">
              <h5><strong>JOHN PARKER</strong>  -  <span>Excellent Work</span></h5>
              <form class="star_rating bottom5">
                <div class="stars">
                  <input type="radio" name="star" class="star-1" id="star-31" />
                  <label class="star-1" for="star-31">1</label>
                  <input type="radio" name="star" class="star-2" id="star-32" checked />
                  <label class="star-2" for="star-32">2</label>
                  <input type="radio" name="star" class="star-3" id="star-33" />
                  <label class="star-3" for="star-33">3</label>
                  <input type="radio" name="star" class="star-4" id="star-34" checked />
                  <label class="star-4" for="star-34">4</label> 
                  <input type="radio" name="star" class="star-5"  id="star-35"  />
                  <label class="star-5" for="star-35">5</label>
                  <span></span>
                </div>
              </form>
              <p class="margin10">Vivamus bibendum nibh in dolor pharetra, a euismod nulla dignissim. Aenean viverra tincidunt nibh, in imperdiet nunc. Suspendisse eu ante pretium.</p>
            </div>
          </div>
        </div>
            <h3 class="heading bottom25">Add Review<span class="divider-left"></span></h3>
            <form class="star_rating bottom15">
                <div class="stars">
                  <input type="radio" name="star" class="star-1" id="star-51" />
                  <label class="star-1" for="star-51">1</label>
                  <input type="radio" name="star" class="star-2" id="star-52" />
                  <label class="star-2" for="star-52">2</label>
                  <input type="radio" name="star" class="star-3" id="star-53" />
                  <label class="star-3" for="star-53">3</label>
                  <input type="radio" name="star" class="star-4" id="star-54"  />
                  <label class="star-4" for="star-54">4</label> 
                  <input type="radio" name="star" class="star-5"  id="star-55" checked  />
                  <label class="star-5" for="star-55">5</label>
                  <span></span>
                </div>
              </form>
            <form class="form-inline findus" id="contact-form" onSubmit="return false">
          <div class="row">
            <div class="col-md-12">
              <div id="result"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name"  name="name" id="name" required>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="email" id="email" required>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <textarea placeholder="Comment"  name="message" id="message"></textarea>
              <button class="btn_common yellow border_radius" id="btn_submit">Submit</button>
            </div>
          </div>
        </form>
          </div> 
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
      <div class="related_pro padding-top clearfix">
        <div class="col-md-12 wow fadeInDown"><h2 class="heading">Related Product<span class="divider-left"></span></h2></div>
        <div class="col-md-3 col-sm-6 margin_tophalf wow fadeIn" data-wow-delay="300ms">
        <div class="shopping_box">
          <div class="image">
            <img src="images/shop1.jpg" alt="Edua" class="img-responsive border-radius">
            <div class="overlay border_radius">
              <a class="btn_common yellow border_radius btn-cart" href="shop_cart.html">add to cart</a>
            </div>
          </div>
          <div class="shop_content text-center">
            <h4><a href="shop_detail.html" class="title_link">Online Course</a></h4>
            <p>We offer the most complete in the country</p>
            <h4 class="price_product">$230.00</h4>
          </div>
        </div>
      </div>
        <div class="col-md-3 col-sm-6 margin_tophalf wow fadeIn" data-wow-delay="400ms">
        <div class="shopping_box">
          <div class="image">
            <img src="images/shop1.jpg" alt="Edua" class="img-responsive border-radius">
            <div class="overlay border_radius">
              <a class="btn_common yellow border_radius btn-cart" href="shop_cart.html">add to cart</a>
            </div>
          </div>
          <div class="shop_content text-center">
            <h4><a href="shop_detail.html" class="title_link">Online Course</a></h4>
            <p>We offer the most complete in the country</p>
            <h4 class="price_product">$230.00</h4>
          </div>
        </div>
      </div>
        <div class="col-md-3 col-sm-6 margin_tophalf wow fadeIn" data-wow-delay="500ms">
        <div class="shopping_box">
          <div class="image">
            <img src="images/shop1.jpg" alt="Edua" class="img-responsive border-radius">
            <div class="overlay border_radius">
              <a class="btn_common yellow border_radius btn-cart" href="shop_cart.html">add to cart</a>
            </div>
          </div>
          <div class="shop_content text-center">
            <h4><a href="shop_detail.html" class="title_link">Online Course</a></h4>
            <p>We offer the most complete in the country</p>
            <h4 class="price_product">$230.00</h4>
          </div>
        </div>
      </div>
        <div class="col-md-3 col-sm-6 margin_tophalf wow fadeIn" data-wow-delay="600ms">
        <div class="shopping_box">
          <div class="image">
            <img src="images/shop1.jpg" alt="Edua" class="img-responsive border-radius">
            <div class="overlay border_radius">
              <a class="btn_common yellow border_radius btn-cart" href="shop_cart.html">add to cart</a>
            </div>
          </div>
          <div class="shop_content text-center">
            <h4><a href="shop_detail.html" class="title_link">Online Course</a></h4>
            <p>We offer the most complete in the country</p>
            <h4 class="price_product">$230.00</h4>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
