{% extends "base/page_header.html" %}
{% load staticfiles %}

{% block title %}课程--创想乾坤{% endblock %}
{% block page_header_title %}
    <h1>课程</h1>
    <form class="templatemo-search-form" role="search" id="searchForm" method="get">
        <div class="input-group">
            <button type="submit" class="fa fa-search" id="btnSearch"></button>
            <input type="text" class="form-control" placeholder="搜索感兴趣的课程内容" name="name" id="srch-term" value="{{ search_name }}">
        </div>
    </form>
{% endblock %}
{% block page_header_span %}<span><i class="fa fa-angle-double-right"></i>课程</span>{% endblock %}

{% block main_section %}
<!--SERVICE SECTION-->
<section id="shop" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/media/{{ course_detail.image }}" alt="Edua" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25">{{ course_detail.name }}<span class="divider-left"></span></h2>
        <p class="margin10 bottom20">{{ course_detail.desc }}</p>
          <ul class="comment margin10">
            <li><a href="#.">{{ course_detail.get_degree_display }}</a></li>
            <li><a href="#."><i class="fa fa-code"></i>{{ course_detail.category.name }}</a></li>
            {% for tag in course_detail.tag.all %}
                <li><a href=""><i class="fa fa-tag"></i>{{ tag.name }}</a></li>
            {% endfor %}
          </ul>
        <div class="share clearfix margin10">
          <p class="pull-left"><strong>分享课程:</strong></p>
          <ul class="pull-right">
            <li><a href="#."><i class="fa fa-facebook"></i></a></li>
            <li><a href="#."><i class="icon-twitter4"></i></a></li>
            <li><a href="#."><i class="icon-dribbble5"></i></a></li>
            <li><a href="#."><i class="icon-instagram"></i></a></li>
            <li><a href="#."><i class="icon-vimeo4"></i></a></li>
        </ul>
        </div>
      </div>
      </div>
     <div class="row"> 
    <div class="col-md-12 wow fadeInUp" data-wow-delay="300ms">
      <div class="shop_tab margin_top">
        <ul class="tabs">
          <li class="active" rel="tab1">课程详情</li>
          <li rel="tab2">课程须知</li>
        </ul>
        <div class="tab_container">
          <div id="tab1" class="tab_content">
              {{ course_detail.detail | safe }}
          </div>
          <div id="tab2" class="tab_content">
              <p>{{ course_detail.youneed_know }}</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
	$(function() {
	    $('#COURSES').addClass('active');

	});
  </script>
{% endblock %}